 * {
            margin: 0;
            padding: 0;
        }

        .donate-wrapper {
            background: #15202a;
            max-height: 100px;
            height: 100px;
            display: flex;
            align-items: center;

            font-family: "Source Sans Pro", 'Helvetica Neue', Helvetica, Arial, sans-serif;


        }

        .donate-section {
            background: #15202a;
            padding: 10px;
            width: 270px;
            box-sizing: border-box;
            margin-top: 5px;

        }



        .donate-details-main {
            display: none;
        }

        .donate-section .donate-intro {
            font-weight: 700;
            font-size: 15px;
            color: #fff;
            margin: 0;
        }

        .donate-intro+p {
            margin-bottom: 3px;
        }

        .donate-section ul {
            margin: 0 0 20px;
            padding: 10px 0 0;

            list-style: none;
            font-size: 16px !important;
            list-style: none;
            margin-top: 15px !important;
            font-weight: 500;
        }

        .donate-section p,
        .donate-section ul {
            text-align: left;
            color: RGBA(255, 255, 255, .75);
        }

        .donate-section a.button,
        .donate__home-button {
            background: #ffc43a;

            border-radius: 3px;
            display: block;
            color: #2b1d00;
            font-weight: 600;
            margin-top: 10px;
            font-size: 18px;
            padding: 3px;
            -webkit-box-shadow: 0 2px 2px RGBA(0, 0, 0, .95);
            box-shadow: 0 2px 2px RGBA(0, 0, 0, .95);
            text-align: center;
            margin: 10px;
        }

        .donate-section .button {
            margin: 0 !important;
            text-align: center;
        }

        .donate-section a.button,
        .donate__home-button {
            padding: 10px 10px;
            line-height: 20px !important;
        }

        .donate-wrapper a {
            text-decoration: none;
        }

        .donate-section .icon-right {
            display: none;
        }

        .donate-section:hover .icon-down {
            display: none;
        }

        .donate-section:hover .icon-right {
            display: inline;
        }

        .donate-section:hover .donate-details-main {
            display: block;

            transition: 0.3s;

        }

        .donate-section:hover {
            position: relative;
            top: 110px
        }

        .donate-section .donate-intro {
            font-weight: 700;
            font-size: 15px;
            color: #fff;
            margin: 0;
        }
